


    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Registration Form</h2>
                </div>
                <div class="card-body">
                    <form #Registerform="ngForm" id="main_form" (submit)="register()" autocomplete="on">
                        <div class="form-row m-b-55">
                            <div class="name">Name</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="form-control" type="text" name="FirstName" [(ngModel)]="user.FirstName" required #FirstName="ngModel">

                                            <label class="label--desc">first name</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="form-control" type="text" name="LastName" [(ngModel)]="user.LastName" required #LastName="ngModel">

                                            <label class="label--desc">last name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                          <div class="name">Email</div>
                          <div class="value">
                              <div class="input-group">
                                  <input class="form-control" type="email" name="EmailId" [(ngModel)]="user.EmailId" required #EmailId="ngModel"
                                  >
                              </div>
                          </div>
                      </div>
                        <div class="form-row">
                            <div class="name">ContactNumber</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="form-control" type="text" [(ngModel)]="user.ContactNumber" name="ContactNumber" required #ContactNumber="ngModel"> 
                                </div>
                            </div>
                        </div>
                       
                    
                      
                        <div class="form-row m-b-55">
                          <div class="name">Password</div>
                          <div class="value">
                              <div class="row row-space">
                                  <div class="col-2">
                                      <div class="input-group-desc">
                                          <input class="form-control" type="text" name="Password" [(ngModel)]="user.Password" required #Password="ngModel">
                                          <label class="label--desc">Password</label>
                                      </div>
                                  </div>
                                  <div class="col-2">
                                      <div class="input-group-desc">
                                          <input class="form-control" type="text" name="ConfirmPassword"  [(ngModel)]="user.ConfirmPassword" required #ConfirmPassword="ngModel">
                                          <label class="label--desc">ConfirmPassword</label>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

